<h1>Open to Structure</h1>
<p>This is when WAPs are installed in open warehouse environments, typically the WAP is suspended down to 20&rsquo;-0&rdquo; AFF. It could be totally open, ground level pallet, deep library shelving, open AR fields, misc. modules/stations, etc. For all of the above, these situations should be called out.</p>
<table>
<tbody>
<tr>
<td width="719">
<p><strong>Airopath Tolerances</strong></p>
</td>
</tr>
<tr>
<td width="719">
<p>&middot; WAP may be installed up to 10&rsquo;-0&rdquo; away from its intended location as shown in the design plans.</p>
<p>&middot; WAP may <u>not</u> be the lowest object in elevation as long as the other object is more than 15&rsquo;-0&rdquo; away from the WAP.</p>
<p>&middot; Tech does not need to call out WAP mounting material (strut, rod, etc.) for being within a horizontal clearance of lights and sprinkler heads if the WAP itself is suspended down significantly. Please use a reasoned approach to this.</p>
</td>
</tr>
</tbody>
</table>
<ul>
<li><strong>Broadcast</strong>
<ul>
<li>WAP is not powered (IT)</li>
<li>WAP is not broadcasting (IT)</li>
<li>WAP is broadcasting incorrect name (IT)</li>
<li>WAP is broadcasting MAC address (IT)</li>
</ul>
</li>
<li><strong>Equipment</strong>
<ul>
<li>WAP is missing (LVC)</li>
<li>WAP model is incorrect (IT)</li>
<li>[MIST] WAP not aligned with true north (LVC)</li>
</ul>
</li>
<li><strong>Label</strong>
<ul>
<li>Label is missing (LVC)</li>
<li>Label shows incorrect name (LVC)</li>
<li>Label is not legible (LVC)</li>
</ul>
</li>
<li><strong>Cabling</strong>
<ul>
<li>Service loop is below WAP (LVC)</li>
<li>Service loop is resting on backboard (Attention)</li>
<li>Service loop is zip tied (Attention)</li>
</ul>
</li>
<li><strong>Backboard</strong>
<ul>
<li>Backboard is missing (LVC)</li>
<li>Backboard is severely damaged (LVC)</li>
<li>Backboard is not level with the ground (LVC)</li>
</ul>
</li>
<li><strong>Safety Cable</strong>
<ul>
<li>Safety cables are missing entirely (LVC)</li>
<li>Safety cable for WAP--&gt;backplate--&gt;backboard is missing (LVC)</li>
<li>Safety cable for mount assembly--&gt;structure is missing (LVC)</li>
<li>Safety cable not visible from ground (Attention)</li>
</ul>
</li>
<li><strong>Mount Assembly</strong>
<ul>
<li>Threaded rod suspended greater than 5&rsquo;-0&rdquo; (LVC)</li>
<li>Strut between structural beams lacks two points of contact (LVC)</li>
<li>[RETRO] Stabilization material is missing (LVC)</li>
</ul>
</li>
<li><strong>Elevation</strong>
<ul>
<li>WAP install elevation significantly deviates from cut sheet (LVC)</li>
<li>WAP is not the lowest object (LVC)</li>
</ul>
</li>
<li><strong>Location</strong>
<ul>
<li>WAP install location deviates from plan (LVC)</li>
</ul>
</li>
<li><strong>Obstruction</strong>
<ul>
<li>Backboard is within 12&rsquo;-0&rdquo; from Big Ass Fan, measured horizontally (LVC)</li>
</ul>
</li>
<ul>
<li>Backboard is within 5&rsquo;-0&rdquo; from object greater than 2&rsquo;-0&rdquo; wide (LVC)</li>	
</ul>
</ul>